.product-ul li{
    padding: 10px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    border-bottom:1px solid #eee;
}
.side-product{
    flex-basis: 38px;
    height:100%;
}
.side-product-avatar{
    width: 38px;
    height:38px;
    border-radius: 3px;
}

.product-main{
    flex: 1;
    width: 660px;
    margin-left:10px;
    overflow: hidden;
}

.product-title a{
    color: #259;
    font-size:14px;
    font-weight: 900;
}
.product-author{
    font-size: 12px;
    margin-top: 5px;
}
.product-content{
    margin-top: 5px;
    font-size:12px;
}
.product-detail{
    text-align: right;
    margin-top: 10px;
}
.product-detail .product-author{
    margin-right:10px;
}